<div id='signin' ng-controller="AuthController as Auth">
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' >
     <br />
     <div ng-show="signinForm.$submitted || signinForm.uName.$touched">
       <div ng-show="signinForm.uName.$error.required">Username required.</div>
     </div>
    <input type='text'ng-model='user.username' name="uName" required="">
    <br />
    <div ng-show="signinForm.$submitted || signinForm.password.$touched">
      <div ng-show="signinForm.password.$error.required">Passoword required.</div>
    </div>
    <input type="password" ng-model='user.password' name="password" required="">
    <button ng-click="signin()">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
